@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto Slab', Roboto Slab;
    background-color: #0f0f0f;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #00000077;
    border-bottom: 1px solid #00000077;
}

.logo {
    color: #25cfcf;
    font-size: 25px;
    font-weight: 800;
    margin-left: 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li {
    font-size: px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li:hover {
    color: #E1160D;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    display: none;
    cursor: pointer;
}

.header-info h1 {
    color: #323aad;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.header-info p {

    color: #011022;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #323aad;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 5px;
}

.btn-1:hover {
    background-color: #000765;
}

.gym {
    padding: 100px 0;
    display: flex;
    align-items: center;

}

.gym-1 {
    width: 50%;
    padding-right: 150px;
}

.gym-1 h2 {
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
}

.gym-1 p {
    font-size: 20px;
    color: #818181;
    margin-bottom: 35px;
}

.gym-1 span {
    color: #25cfcf;
}

.btn-2 {
    display: inline-block;
    padding: 8px 45px;
    border-radius: 20px;
    background-color: #323aad;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn-2:hover {
    background-color: #000765;
}

.img-1, .img-2 {
    width: 250px;
    margin-right: 20px;
}

.footer {
    border-top: 1px solid #FFFFFF29;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background-color: #040404;
}

.footer h3 {
    color: #25cfcf;
    font-size: 25px;
    font-weight: 800;
    margin-left: 10px;
}

.links ul {
    display: flex;
}

.links ul li {
    margin-right: 35px;
}

.links ul li {
    color: #818181;
}

.img-3 {
    width: 50px;
    margin-right: 20px;
    margin: 10px 10px 10px 10px;
}

@media(max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position:  absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;
    }


    #menu:checked ~ .navbar {
        display: initial;
    }
    
    .header-content {
        padding: 30px;
    }

    .header-info h1 {
        font-size: 100px;
        margin-bottom: 5px;
    }

    .header-info P {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .gym {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }

    .gym-1 {
        width: 100%;
        padding: 0;
        order: 1;
    }

    .gym-1 h2 {
        margin-bottom: 15px;
    }

    .btn-2 {
        margin-bottom: 35px;
    }

    .gym-2 {
        order: 2;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .img-1, .img-2 {
        margin: 0 0 20px 0;
    }

    .img-3 {
        margin: 10px 10px 10px 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }
    
    .footer {
        margin-bottom: 15px;
    }

    .footer h3 {
        margin-bottom: 10px;
    }

    .links ul li {
        margin: 0 10px;
        margin: 0 0 20px 0;
        size: 2px;
    }

}